<tr class="fields">
  <td><%= f.text_field :name, :placeholder => 'Field name' %></td>
  <td><%= f.text_field :value, :placeholder => 'Value' %></td>
  <td><%= link_to_remove_fields "x", f -%></td>
</tr>