<table style="width: 100%; max-width: 100%; border: 1px solid black">
  <tr>
    <th>Field</th>
    <th colspan="2">Value</th>
  </tr>
<%= f.fields_for :fields do |builder| %>
  <%= render "field_fields", :f => builder %>
<% end -%>
</table>
<div>
  <p>
    <%= link_to_add_fields "Add Field", f, :fields %>
  </p>
</div>